.custom-header-container{
background-color: #f8f9fa; 
padding: 10px 0;
box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.3);
transform: translateY(-100%);
}

.custom-navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.custom-nav-item {
  margin-right: 15px;
}

.custom-nav-link {
  color: #343a40;
  font-size: 20px;
  text-decoration: none;
}
.custom-navbar-nav .custom-nav-link:focus,
  .custom-navbar-nav .custom-nav-link.active {
  color: #393939;
  font-weight: bold;
  }

  .custom-navbar-nav .custom-nav-link img {
      height: 50px;
      width: 50px;
      margin-left: 40px;
      border-radius: 50px;
  }

/* Responsive styles for smaller screens */
/* @media (max-width: 768px) {
  .custom-navbar-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .custom-nav-item {
    margin: 5px 0;
  }
} */

.footer {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 25px 0;
  text-align: center;
  bottom: 0;
}

.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer .footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer .footer-column {
  margin: 5px;
}

.footer .footer-column h5 {
  margin-bottom: 10px;
  font-weight: bold;
  color: #9ba9b9;
  font-size: 16px !important;
}

.footer .footer-links a, .footer-column a {
  color: #ecf0f1;
  font-size: 14px;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

.footer .footer-links a:hover, .footer-column a:hover {
  text-decoration: underline;
}

.footer .footer-info p {
  margin: 0;
  font-size: 14px;
}

.footer hr {
  border: 1px solid #34495e;
  margin: 20px 0;
}


